#first-name {
    color: #e0356a;
}

#last-name {
    color: rgb(0, 216, 255);
}

#contact {
    background-color: #222222;
}

#bs-example-navbar-collapse-1 li > a:hover {
    color: #e0356a;
}

#footer-comment {
    color: gray;
}