// fonts
$mont-font: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif
$lato-font: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif
$open-sans-font: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif
$body-font: 'Merriweather', 'Helvetica Neue', Helvetica, Arial, sans-serif

// colors
$dark-background: #222
$light-background: #363636
$monokai-pink: rgb(224, 53, 106)
$monokai-faded-pink: rgba(224, 53, 106, .7)
$monokai-red: #a51a45
$monokai-blue: rgb(0, 216, 255)
$monokai-green: #18bc9c
$monokai-orange: #f05f40
$danger-red: #f04a4a
$white: #fff
$black: #000
$faded-black: rgba(0, 0, 0 , .3)
